---
import ResultsSummary from '../components/ResultsSummary.astro';
import Layout from '../layouts/Layout.astro';

export interface DataSample {
  category: string;
  score: number;
  icon: string;
}

const data: DataSample[] = [
  {
    category: 'Reaction',
    score: 80,
    icon: '/images/icon-reaction.svg',
  },
  {
    category: 'Memory',
    score: 92,
    icon: '/images/icon-memory.svg',
  },
  {
    category: 'Verbal',
    score: 61,
    icon: '/images/icon-verbal.svg',
  },
  {
    category: 'Visual',
    score: 72,
    icon: '/images/icon-visual.svg',
  },
];
---

<Layout title="Frontend Mentor | Results summary component">
  <main>
    <ResultsSummary data={data} />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
  }
</style>
