---
import type { DataSample } from '../pages/index.astro';

export interface Props {
  data: DataSample[];
  class?: string;
}
const { data, class: className } = Astro.props;
---

<section class:list={[className, 'results_summary']}>
  <header class="results_summary__heading">
    <h1 class="results_summary__heading_title">Your Result</h1>
    <p class="results_summary__heading_score">76</p>
    <p class="results_summary__heading_top_score">of 100</p>
    <h2 class="results_summary__heading_results">Great</h2>
    <p class="results_summary__heading_message">
      You scored higher than 65% of the people who have taken these tests.
    </p>
  </header>
  <div class="results_summary__data_display">
    <h2 class="results_summary__data_display_title">Summary</h2>
    {
      data.map(d => (
        <div
          class:list={[
            'data_display',
            {
              data_display_red: d.color == 'red',
              data_display_yellow: d.color == 'yellow',
              data_display_green: d.color == 'green',
              data_display_blue: d.color == 'blue',
            },
          ]}
        >
          <img class="data_display_img" src={d.icon} alt={d.category} />
          <p class="data_display_category">{d.category}</p>
          <p class="data_display_score">
            {d.score}
            <span class="data_display_total_score">/ 100</span>
          </p>
        </div>
      ))
    }
    <button class="results_summary__data_display_button">Continue</button>
  </div>
</section>

<style>
  .results_summary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  .results_summary__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 357px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(
      var(--bg-light-slate-blue),
      var(--bg-light-royal-blue)
    );
  }

  .results_summary__heading::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 139px;
    height: 139px;
    border-radius: 100%;
    background: linear-gradient(
      var(--circle-violet-blue),
      var(--circle-persian-blue)
    );
  }

  .results_summary__heading_title {
    margin-top: 22px;
    font-size: large;
    color: var(--light-lavender);
  }

  .results_summary__heading_score {
    margin-top: 56px;
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    z-index: 2;
    color: var(--white);
  }

  .results_summary__heading_top_score {
    margin-top: 8px;
    font-size: smaller;
    font-weight: bold;
    opacity: 70%;
    z-index: 2;
    color: var(--light-lavender);
  }

  .results_summary__heading_results {
    margin-top: 43px;
    font-size: x-large;
    font-weight: normal;
    color: var(--white);
  }

  .results_summary__heading_message {
    margin-top: 6px;
    line-height: 21px;
    max-width: 255px;
    text-align: center;
    font-size: medium;
    opacity: 80%;
    color: var(--light-lavender);
  }

  .results_summary__data_display {
    margin-top: 21px;
    margin-left: 29px;
    margin-right: 29px;
    font-size: small;
  }

  .results_summary__data_display_title {
    color: var(--dark-gray-blue);
    margin-bottom: 21px;
  }

  .data_display {
    height: 57px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.12fr 0.48fr 0.4fr;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 15px;
  }

  .data_display_red {
    background-color: var(--light-red-opaque);
    color: var(--light-red);
  }
  .data_display_yellow {
    background-color: var(--orangey-yellow-opaque);
    color: var(--orangey-yellow);
  }
  .data_display_green {
    background-color: var(--green-teal-opaque);
    color: var(--green-teal);
  }
  .data_display_blue {
    background-color: var(--cobalt-blue-opaque);
    color: var(--cobalt-blue);
  }

  .data_display_img {
    margin-left: 16px;
  }

  .data_display_category {
    padding-bottom: 2px;
    margin-left: 11px;
  }

  .data_display_score {
    justify-self: end;
    margin-right: 18px;
    color: var(--dark-gray-blue);
  }

  .data_display_total_score {
    margin-left: 4px;
    opacity: 50%;
  }

  .results_summary__data_display_button {
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
    height: 58px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-size: large;
    font-weight: bold;
  }

  .results_summary__data_display_button:hover {
    cursor: pointer;
    background: linear-gradient(
      var(--bg-light-slate-blue),
      var(--bg-light-royal-blue)
    );
  }

  @media screen and (min-width: 1000px) {
    .results_summary {
      background-color: red;
      flex-direction: row;
      place-self: center;
      width: 735px;
    }

    .results_summary__heading {
      width: 367px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      height: 513px;
    }

    .results_summary__heading_title {
      margin-top: 37px;
      font-size: x-large;
    }

    .results_summary__heading_score {
      margin-top: 95px;
      font-size: 70px;
    }

    .results_summary__heading_top_score {
      margin-top: 11.5px;
      font-size: large;
    }

    .results_summary__heading_results {
      margin-top: 68px;
      font-size: xx-large;
    }

    .results_summary__heading_message {
      font-size: large;
      margin-top: 11px;
      line-height: 23px;
    }

    .results_summary__heading::before {
      margin-top: 33px;
      width: 200px;
      height: 200px;
    }
  }
</style>
