---
import type { DataSample } from '../pages/index.astro';

export interface Props {
  data: DataSample[];
  class?: string;
}
const { data, class: className } = Astro.props;
---

<section class:list={[className, 'results_summary']}>
  <header class="results_summary__heading">
    <h1 class="results_summary__heading_title">Your Result</h1>
    <p class="results_summary__heading_score">76</p>
    <p class="results_summary__heading_top_score">of 100</p>
    <h2 class="results_summary__heading_results">Great</h2>
    <p class="results_summary__heading_message">
      You scored higher than 65% of the people who have taken these tests.
    </p>
  </header>
  <div class="results_summary__data_display">
    <h2>Summary</h2>
    {
      data.map(d => (
        <div>
          <img src={d.icon} alt={d.category} />
          <p>{d.category}</p>
          <p>
            {d.score}
            <span>/ 100</span>
          </p>
        </div>
      ))
    }
    <button>Continue</button>
  </div>
</section>

<style>
  .results_summary {
    position: relative;
  }

  .results_summary__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 357px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(
      var(--bg-light-slate-blue),
      var(--bg-light-royal-blue)
    );
  }

  .results_summary__heading::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 139px;
    height: 139px;
    border-radius: 100%;
    background: linear-gradient(
      var(--circle-violet-blue),
      var(--circle-persian-blue)
    );
  }

  .results_summary__heading_title {
    margin-top: 22px;
    font-size: large;
    color: var(--light-lavender);
  }

  .results_summary__heading_score {
    margin-top: 56px;
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    z-index: 2;
    color: var(--white);
  }

  .results_summary__heading_top_score {
    margin-top: 8px;
    font-size: smaller;
    font-weight: bold;
    opacity: 70%;
    z-index: 2;
    color: var(--light-lavender);
  }

  .results_summary__heading_results {
    margin-top: 43px;
    font-size: x-large;
    font-weight: normal;
    color: var(--white);
  }

  .results_summary__heading_message {
    margin-top: 6px;
    line-height: 21px;
    max-width: 255px;
    text-align: center;
    font-size: medium;
    opacity: 80%;
    color: var(--light-lavender);
  }

  .results_summary__data_display {
    background-color: blueviolet;
  }
</style>
